.graph-container {
  height: 640px !important;
}

.ticket-list {
  display: flex;
  flex-direction: column;
}

.ticket-list-container {
  height: 500px;
  overflow-y: scroll;
}

.ticket {
  width: 200px;
}

.ticket-row {
  margin-bottom: 10px;
  justify-content: center;
}

.inline-project-form {
  display: flex;
  justify-content: center;
}