.ant-modal-footer button-element:last-child {
  margin-left: 10px;
}

textarea.ant-input {
  border-radius: 0.5rem;
  border: solid 1px var(--vds-theme-color-field-border);
  background-color: var(--color-type-inverse);
  color: var(--vds-theme-color-type-default);
}

textarea.ant-input:hover {
  border: solid 1px var(--vds-theme-color-brand-primary);
}

.ant-input:focus {
  border: solid 1px var(--vds-theme-color-brand-primary);
  box-shadow: 0 0 0 1px var(--vds-theme-color-brand-primary);
  border-right-width: 1px !important;
}

.modal-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
