.types-table-container {
  padding: 0px 40px 0px 40px;
}

.table-header {
  font-weight: 600;
}

.sample-container {
  width: 200px;
  height: 40px;
}

.line-type-column-container {
  display: flex;
  align-items: center;
  justify-content: center;
}