.color-node-table-container {
  padding: 0px 20px 0px 20px;
}

.table-header {
  font-weight: 600;
}

.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-table-row {
  margin-bottom: 20px;
}

.to-do-container {
  width: 40%;
  background-color: #42526E;
}

.review-container {
  width: 40%;
  background-color: #0747A6;
}

.merged-container {
  width: 40%;
  background-color: #006644;
}