body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: "issue-types";
  src: local("issue-types"),
    url("./fonts/Issue Types/icomoon.ttf") format("truetype");
  font-weight: bold;
} */

@font-face {
  font-family: 'icomoon';
  src: url('./fonts/Issue Types/icomoon.eot?m0l4il');
  src: url('./fonts/Issue Types/icomoon.eot?m0l4il#iefix') format('embedded-opentype'),
    url('./fonts/Issue Types/icomoon.ttf?m0l4il') format('truetype'),
    url('./fonts/Issue Types/icomoon.woff?m0l4il') format('woff'),
    url('./fonts/Issue Types/icomoon.svg?m0l4il#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-story .path1:before {
  content: "\e900";
  color: rgb(252, 252, 252);
}

.icon-story .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(196, 228, 180);
}

.icon-story .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(100, 188, 60);
}

.icon-story .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(180, 220, 108);
}

.icon-story .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(100, 220, 112);
}

.icon-epic .path1:before {
  content: "\e905";
  color: rgb(250, 249, 252);
}

.icon-epic .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(180, 132, 236);
}

.icon-epic .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(220, 204, 244);
}

.icon-epic .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(148, 84, 228);
}

.icon-epic .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(148, 76, 228);
}

.icon-bug .path1:before {
  content: "\e90a";
  color: rgb(252, 236, 228);
}

.icon-bug .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}

.icon-bug .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(244, 156, 148);
}

.icon-bug .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(236, 100, 84);
}

.icon-bug .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(228, 76, 60);
}

.icon-task .path1:before {
  content: "\e90f";
  color: rgb(248, 250, 252);
}

.icon-task .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(220, 236, 252);
}

.icon-task .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(148, 204, 244);
}

.icon-task .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(92, 180, 236);
}

.icon-task .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(76, 172, 236);
}
